# Environnement (development | test | production)
ENVIRONMENT=development

# Debug mode
DEBUG=false

# HuggingFace
# HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxx
# HF_USERNAME=your-username
# HF_SPACE_NAME=deploy-ml
