# Environnement (development | test | production)
ENVIRONMENT=development

# Debug mode
DEBUG=false

# Database PostgreSQL (local uniquement)
# DATABASE_URL=postgresql://deploy_ml:deploy_ml@localhost:5432/deploy_ml

# HuggingFace
# HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxx
# HF_USERNAME=your-username
# HF_SPACE_NAME=deploy-ml
