
API_HOST=0.0.0.0
API_PORT=8000
DEBUG=false
ENVIRONMENT=development  # development | test | production


DATABASE_URL=postgresql://user:password@localhost:5432/deploy_ml
# Pour les tests:
# DATABASE_URL=sqlite:///./test.db

# Générer avec: openssl rand -hex 32
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
# HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxx
# HF_USERNAME=your-username
# HF_SPACE_NAME=deploy-ml
